@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@counter-style attack-emoji {
    system: cyclic;
    symbols: "\2694";
    suffix: " ";
  }
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

header,
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}

header {
 background-color: #CE1030;
 color: #fefefe;
}

.main-title {
    margin-top: 0;
}

.search-control,
.submit-btn {
    padding: .5rem;
    font-family: 'Press Start 2P', cursive;
    font-size: .65rem;
}

.submit-btn {
    width: 100px;
    border: none;
}

.submit-btn:hover {
    cursor: pointer;
}

.pokedex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.pokemon-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.2)
}

.pokemon-moves {
    list-style-type: attack-emoji;
}

.evolution-container {
    display: flex;
    width: 100%;
    padding: .8rem;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}

.evolution-title {
    font-size: .65rem;
    margin-bottom: .6rem;
}