// ============== Font imports ==============
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// ============== Predefined Styles ==============
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// ============== Variables / Colors ==============
$primary-color: #cd1030;
$secondary-color: #73121E;

$light-white: #fefefe;

$display-screen-color: #DEDEDE;
$info-screen-color:#032d28;

$background-color: #79C9F9;

// ============== Variables / Typos ==============
$pokemon-font: 'Press Start 2P', cursive;

// ============== Mixins ==============
@mixin before-after($before: true, $after: true) {
  @if $before {
    &::before{
      content: "";
      position: absolute;
    }
  }

  @if $after {
    &::after {
      content: "";
      position: absolute;
    }
  }
}

@mixin border($size: 2px, $color: $secondary-color, $radius: 100%) {
  border: $size solid $color;
  border-radius: $radius;
}

// ============== Main style ==============
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: $pokemon-font;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 60%;
}

main {
    @extend .flex-center;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
}

.main-title {
    margin: 3rem;
    text-shadow: 4px 4px 0 $primary-color;
    color: $light-white;
    font-size: 2.5rem;
}

.search-pokedex {
    @extend .flex-center;
    flex-direction: column;

    .search-control,
    .submit-btn {
        padding: .5rem;
        font-family: $pokemon-font;
        font-size: .65rem;
    }

    .search-control {
        outline: none;
        border: none;
        transition: background-color .3s;

        &:focus {
            background-color: $info-screen-color;
            color: $light-white;
        }
    }

    .submit-btn {
        margin: .4rem 0 .8rem;
        width: 100%;
        border: none;
        background-color: #6992F2;
        color: $light-white;
        box-shadow: 0 4px 0 0 #334f91;
        text-transform: uppercase;
        transition: box-shadow .6s;

        &:hover {
            cursor: pointer;
        }

        &:active {
            box-shadow : none;
        }
    }
}

.pokedex {
    min-width: 750px;
    min-height: 500px;
    margin-left: 4rem;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
  
    .left-screen {
      position: relative;
      background-color: $primary-color;
      @include before-after(true, false);
      @include border($radius: 20px);
  
      // Shadow
      &::before { 
        width: 100%; 
        height: 101%;
        top: -2px;
        left: -3%;
        z-index: -1;
        background-color: $secondary-color;
        @include border($radius: 20px);
      }
  
      // Upper half with lights
      &__top {
        width: 100%;
        height: 18%;
        position: relative;
        display: flex;
        @include before-after();
  
        &::before,
        &::after {
          height: calc(100% - 5px);
          border-radius: 50% 0 50% 0;
        }
  
        &::before {
          width: 55%;
          border-bottom: 5px solid rgba(0, 0, 0, 0.5);
        }
  
        &::after {
          top: 20%;
          right: 0;
          width: 46%;
          border-top: 5px solid rgba(0, 0, 0, 0.5);
        }
  
        .light {
          position: relative;
          height: 1.5rem;
          width: 1.5rem;
          margin-top: 1rem;
          margin-right: 0.5rem;
          @include before-after();
          @include border(1px, black);
  
          &--red {
            background-color: rgb(238, 7, 7);
  
            &::after {
              background-color: rgb(238, 7, 7);
            }
          }
  
          &--yellow {
            background-color: rgb(221, 226, 20);
  
            &::after {
              background-color: rgb(221, 226, 20);
            }
          }
  
          &--green {
            background-color: rgb(145, 249, 19);
  
            &::after {
              background-color: rgb(145, 249, 19);
            }
          }
  
          &--blue {
            background-color: #0ad1ff;
  
            &::after {
              background-color: #0ad1ff;
            }
          }
  
          &::before {
            width: 90%;
            height: 90%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.2);
          }
  
          &::after {
            width: 60%;
            height: 60%;
            left: 10%;
            top: 10%;
            border-radius: 100%;
          }
        }
  
        .light-container {
          position: relative;
          width: 3.8rem;
          height: 3.8rem;
          margin: 0.8rem 1rem 0 1rem;
          background-color: lighten($display-screen-color, 20);
          @include border(1px, black);
          @extend .flex-center;
  
          .light {
            width: 2.8rem;
            height: 2.8rem;
            margin: 0;
          }
        }
      }
  
      // Lower half with screen
      &__bottom {
        position: relative;
        height: 78%;
        @extend .flex-center;
        @include before-after(false, true);
  
        // Screen outline border
        &::after {
          width: 90%;
          height: 100%;
          border-left: 2px solid $secondary-color;
          border-bottom: 2px solid $secondary-color;
          border-bottom-left-radius: 20px;
        }
  
        .main-screen {
          position: relative;
          width: 75%;
          height: 90%;
          background-color: $display-screen-color;
          @include border(1px, black, 10px);
  
          padding: 0 1rem;
          margin-right: 0.8rem;
          
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 0.1fr 0.75fr 0.15fr;
          align-items: center;
          justify-content: center;
          
          &__top-lights {
            position: relative;
            width: 100%;
            height: 100%;
            grid-column: 1 / span 2;
            @extend .flex-center;
  
            &::before,
            &::after {
              content: "";
              width: 10px;
              height: 10px;
              background-color: $primary-color;
              @include border();
            }
  
            &::before {
              margin-right: 1rem;
            }
          }
  
          &__display {
            grid-column: 1 / span 2;
            width: 100%;
            height: 100%;
            background-color: lighten($display-screen-color, 20);
            @include border(1px, black, 10px);
  
            .pokemon-image-container {
                height: 100%;
                @extend .flex-center;
                img {
                    width: 70%;
                }
            }
  
            .not-found-message,
            .search-message {
              height: 100%;
              font-size: 1.8rem;
              display: none;
              @extend .flex-center;
            }
  
            .search-message {
              animation: blinking 0.6s ease-in-out infinite alternate;
            }
  
            @keyframes blinking {
              from {
                color: white;
              }
              to {
                color: black;
              }
            }
  
            &.is-searching {
              .pokemon-image {
                display: none;
              }
              .search-message {
                display: flex;
              }
            }
  
            &.is-not-found {
              .pokemon-image {
                display: none;
              }
              .not-found-message {
                display: flex;
              }
            }
          }
  
          &__speaker-light {
            grid-column: 1 / span 1;
            width: 1.8rem;
            height: 1.8rem;
            background-color: $primary-color;
            margin-left: 0.5rem;
            @include border(1px, black);
          }
  
          &__speaker {
            margin-left: auto;
            margin-right: 0.5rem;
            
            &> * {
              width: 3.8rem;
              height: 0.3rem;
              margin-top: 3px;
              border-radius: 10px;
              background-color: lighten(black, 30);
            }    
          }
        }
      }
  
      // Middle joint
      &__joint {
        position: absolute;
        width: 10%;
        height: 98%;
        bottom: -2px;
        right: -5px;
        background-color: $primary-color;
        z-index: 2;
  
        border-left: 2px solid $secondary-color;
        border-right: 2px solid $secondary-color;
        border-radius: 15px;
        @include before-after();
  
        &::before {
          width: 100%;
          height: 20px;
          border-radius: 50%;
          border-top: 2px solid $secondary-color;
        }
  
        &::after{
          width: 100%;
          height: 18px;
          bottom: -2px;
          right: -2px;
          background-color: lighten($secondary-color, 5);
          @include border($radius: 50%);
        }
  
        .joint {
          position: absolute;
          top: 6%;
          width: 100%;
          height: 1rem;
          border-top: 2px solid $secondary-color;
          border-radius: 100%;
          z-index: 3;
  
          &:nth-of-type(2) {
            top: 8%;
          }
  
          &:nth-of-type(3) {
            top: 88%;
          }
  
          &:nth-of-type(4) {
            top: 90%;
          }
        }
  
        .joint__reflextion {
          position: absolute;
          width: 15%;
          height: 98%;
          left: 10%;
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  
    .right-screen {
      position: relative;
      margin: 1.5rem 3rem 1.2rem 0;
      border-bottom-right-radius: 20px;
  
      &__top {
        @include before-after();
  
        &::before,
        &::after,
        div {
          width: 50%;
          background-color: $primary-color;
        }
  
        &::before {
          height: 18%;
          border-top: 3px solid $secondary-color;
          border-top-right-radius: 50%;
        }
  
        &::after {
          height: 15%;
          right: 0;
          border-bottom: 3px solid $secondary-color;
          border-bottom-left-radius: 50%;
          background-color: $background-color;
          background-color: #79C9F9;
        }
  
        div {
          position: absolute;
          height: 50%;
          right: 0;
        }
      }
  
      &__bottom {
        position: relative;
        width: 100%;
        height: 84%;
        margin-top: 22%;
        padding: 1.5rem 2rem 1.5rem 2rem;
        background-color: $primary-color;
  
        @include border($radius: 0);
        border-top: none;
        border-bottom-right-radius: 20px;
  
        @include before-after();
  
        &::before {
          width: 35%;
          height: 10%;
          top: -2%;
          border-top: 5px solid $secondary-color;
          border-left: 2px solid $secondary-color;
          border-top-right-radius: 50%;
        }
  
        &::after {
          width: 45%;
          height: 10%;
          top: -4%;
          right: 0;
          margin-right: 2rem;
          border-bottom: 5px solid $secondary-color;
          border-bottom-left-radius: 50%;
        }
  
        .info-container {
          @extend .flex-center;
          flex-direction: column;
          padding: 1rem;
  
          @include border($radius: 0);
          border-right: 5px solid $secondary-color;
          border-top: none;
          border-bottom-right-radius: 20px;
  
          .info-input,
          .info-screen {
            color: white;
            background-color: $info-screen-color;
            border-radius: 5px;
          }
          
          .info-input {
            width: 90%;
            height: 1.5rem;
            border: none;
            outline: none;
            text-align: center;
          }
  
          .info-screen {
            width: 220px;
            height: 260px;
            font-size: small;
            overflow: auto;

            .info-screen-label {
              margin-bottom: 1rem;
              text-decoration: underline;
            }

            .info-screen-value {
              margin-bottom: 1.25rem;
            }
  
            &::-webkit-scrollbar {
              width: 0.5em;
            }
      
            &::-webkit-scrollbar-thumb {
              border-radius: 10px;
              background-color: rgba(255,255,255,0.2);
            }
          }
        }
      }
    }
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: .7rem;

    & > * {
        display: flex;
        flex-direction: column;
        margin: .4rem 0;
    }

    .pokemon-moves {
        list-style-type: square;
        margin : .1rem 0 0;
        padding: 0 0 0 1rem;

        li {
            margin: 0 0 .8rem;
        }
    }

    .evolution-container {
        display: flex;
        width: 100%;
        padding: .8rem;
        flex-direction: column;
        align-items: center;
        border: 3px dotted $light-white;

        .evolution-title {
            font-size: .65rem;
            margin-bottom: .6rem;
        }

        .previous-evolution-name {
            margin-top: .5rem;
            font-size: 1.1rem;
        }

        .previous-evolution-sprite {
            width: 100%;
        }
    }
}

.error-message {
  text-align: center;
  padding: 1rem;
  line-height: 1.25rem;
}